In [2]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'name':['john','george','Ringo'],
                    'color':['blue','blue','purple']})
df2 = pd.DataFrame({'name':['paul','george','Ringo'],
                    'color':['red','blue',np.nan]},
                  index=[3,1,2])

In [3]:
df1

    color    name
0    blue    john
1    blue  george
2  purple   Ringo

In [4]:
df2

  color    name
3   red    paul
1  blue  george
2   NaN   Ringo