In [1]:
import pandas as pd
df = pd.DataFrame({'Name' : ['paul','George','Ringo'],
                   'growth' :[.5,.7,1.2]})

In [4]:
df

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2

In [5]:
df.dtypes

Name       object
growth    float64
dtype: object

In [6]:
df.dtypes

Name       object
growth    float64
dtype: object

In [7]:
df.Name

0      paul
1    George
2     Ringo
Name: Name, dtype: object

In [8]:
df[['Name']]

     Name
0    paul
1  George
2   Ringo

In [9]:
df.iloc[:,1:]

   growth
0     0.5
1     0.7
2     1.2

In [10]:
df.loc[df.Name.str.contains('r',['Name'])]

     Name  growth
1  George     0.7

In [13]:
df.loc[:,['Name']]

     Name
0    paul
1  George
2   Ringo

# Product

In [14]:
import pandas as pd
df

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2

In [15]:
inst_df = pd.DataFrame({'Name':['John','Ringo'],
                       'Inst':['guitar','drums']})

In [16]:
inst_df

     Inst   Name
0  guitar   John
1   drums  Ringo

In [17]:
pd.merge(df,inst_df) #inner join

    Name  growth   Inst
0  Ringo     1.2  drums

In [18]:
pd.merge(df,inst_df,how="inner",on="Name") # inner

    Name  growth   Inst
0  Ringo     1.2  drums

In [19]:
pd.merge(df,inst_df,how="outer",on="Name") # outer

     Name  growth    Inst
0    paul     0.5     NaN
1  George     0.7     NaN
2   Ringo     1.2   drums
3    John     NaN  guitar

In [20]:
pd.merge(df,inst_df,how="left",on="Name") # left

     Name  growth   Inst
0    paul     0.5    NaN
1  George     0.7    NaN
2   Ringo     1.2  drums

In [21]:
pd.merge(df,inst_df,how="right",on="Name") # right

    Name  growth    Inst
0  Ringo     1.2   drums
1   John     NaN  guitar

In [25]:
inst2 = inst_df.copy()
inst2=inst2.rename(columns={'Name':'First'})
inst2

     Inst  First
0  guitar   John
1   drums  Ringo

In [27]:
pd.merge(df,inst2,left_on="Name",right_on="First")

    Name  growth   Inst  First
0  Ringo     1.2  drums  Ringo

In [28]:
pd.merge(df,inst_df,left_index=True,right_index=True)

   Name_x  growth    Inst Name_y
0    paul     0.5  guitar   John
1  George     0.7   drums  Ringo

In [30]:
df.set_index('Name')

        growth
Name
paul       0.5
George     0.7
Ringo      1.2

# union

In [31]:
pd.concat([df,df])

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2
0    paul     0.5
1  George     0.7
2   Ringo     1.2

In [34]:
pd.concat([df,inst_df]).reset_index()

   index    Inst    Name  growth
0      0     NaN    paul     0.5
1      1     NaN  George     0.7
2      2     NaN   Ringo     1.2
3      0  guitar    John     NaN
4      1   drums   Ringo     NaN

In [35]:
df.append(df)

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2
0    paul     0.5
1  George     0.7
2   Ringo     1.2

In [36]:
df.append(df,ignore_index=True)

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2
3    paul     0.5
4  George     0.7
5   Ringo     1.2

In [37]:
df2 = df.append(df)

In [40]:
df2
df2.index.is_unique

False

In [45]:
df2.reset_index().index.is_unique

True

In [46]:
df2

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2
0    paul     0.5
1  George     0.7
2   Ringo     1.2

In [47]:
df

     Name  growth
0    paul     0.5
1  George     0.7
2   Ringo     1.2

In [48]:
inst_df

     Inst   Name
0  guitar   John
1   drums  Ringo

In [49]:
~df.Name.isin(inst_df.Name)

0     True
1     True
2    False
Name: Name, dtype: bool

In [50]:
mask = ~df.Name.isin(inst_df.Name)

In [51]:
df[mask]

     Name  growth
0    paul     0.5
1  George     0.7

In [ ]:
df.query()