In [4]:
import numpy as np
import pandas as pd

In [8]:
temps = [35,467,35,67]
def mean(seq):
    return sum(seq)/len(seq)
mean(temps)

151.0

In [22]:
temp_np = np.array(temps)
temp_np

array([ 35, 467,  35,  67])

In [11]:
from timeit import Timer
from numpy import arange

Timer('list_py = range(55555);sum(list_py)').timeit(10)

In [17]:
pure = Timer('list_py = range(55555);sum(list_py)').timeit(10)

In [18]:

np_timer = Timer('list_np = arange(55555);list_np.sum()','from numpy import arange').timeit(10)

In [19]:
pure/np_timer

14.715448285485763

In [23]:
temp_np[temp_np > 40]

array([467,  67])

In [24]:
temp_np.sum()

604

In [32]:
import pandas as pd
temp_ser = pd.Series(temps,name='temperature')

In [34]:
temp_ser

0     35
1    467
2     35
3     67
Name: temperature, dtype: int64

In [35]:
temp_ser.add_suffix(6)

06     35
16    467
26     35
36     67
Name: temperature, dtype: int64

# Boolean

In [37]:
hot = pd.Series([False,True,False,True])

In [38]:
hot

0    False
1     True
2    False
3     True
dtype: bool

In [40]:
temp_ser[hot]

1    467
3     67
Name: temperature, dtype: int64

In [42]:
mask = temp_ser > 10
mask

0    True
1    True
2    True
3    True
Name: temperature, dtype: bool

In [44]:
mask2 = temp_ser < 50
temp_ser[mask & mask2]
temp_ser[mask | mask2]

0     35
1    467
2     35
3     67
Name: temperature, dtype: int64

# Index

In [45]:
dates = pd.date_range('20160101',periods=4)

In [47]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04'], dtype='datetime64[ns]', freq='D')

In [48]:
temp3=pd.Series(temps,name="dateindex",index=dates)
temp3

2016-01-01     35
2016-01-02    467
2016-01-03     35
2016-01-04     67
Freq: D, Name: dateindex, dtype: int64

# Pandas datatypes

In [50]:
ser = pd.Series(range(10))

In [52]:
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [53]:
ser2 = pd.Series([1.1,2,3.3,4])
ser2

0    1.1
1    2.0
2    3.3
3    4.0
dtype: float64

In [54]:
for num in ser:
    print(num)

0
1
2
3
4
5
6
7
8
9

In [55]:
set(ser)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
3 in ser.values

True

In [57]:
for i,val in ser.iteritems():
    print(i,val)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [58]:
dict(ser)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [60]:
for i,val in dict(ser).items():
    print(i,val)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9